*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
h6 {
  font-size: 16px;
}
.fluid-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
button {
  border: none;
  background: #fff;
  cursor: pointer;
}
.main {
  &__btns {
    margin-bottom: 60px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    button {
      display: flex;
      min-width: 120px;
      align-items: center;
      span {
        margin-left: 10px;
        display: inline-block;
      }
      padding: 13px;
      font-size: 14px;
      cursor: pointer;
      &.active {
        color: #1890ff;
        border-bottom: 1px solid #1890ff;

        svg {
          path {
            fill: #1890ff;
          }
        }
      }
    }
  }
  &__selects {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 36px;
    select {
      padding: 5px 12px;
      cursor: pointer;
      &:first-child {
        margin-right: 8px;
      }
    }
    &.disabled {
      display: none;
    }
  }
  &__calendar-event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    box-shadow: inset 0px -1px 0px #f0f0f0;
    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
        margin-left: 16px;
      }
    }
    &-btns {
      display: flex;
      justify-content: space-between;
      button {
        color: #1890ff;
        padding: 5px;
      }
    }
  }
  &__single-event {
    margin-bottom: 10px;
    width: 100%;
    max-width: 353px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    background: #ffffff;
    &-header {
      display: flex;
      padding: 16px 24px;
      justify-content: space-between;
      button {
        color: #1890ff;
        font-weight: 700;
      }
    }
    &-footer {
      padding: 24px;
    }
    &-wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &-info {
      display: flex;
      justify-content: space-between;

      &-img {
        margin-right: 81px;
        h4 {
          margin-top: 58px;
          font-size: 20px;
          margin-bottom: 24px;
        }
        img {
          max-width: 526px;
          max-height: 341px;
        }
      }
      &-header {
        h3 {
          font-size: 24px;
        }
        display: flex;
        justify-content: space-between;
        span {
          color: #722ed1;
          background: #f9f0ff;
          padding: 1px 8px 1px 8px;
          cursor: pointer;
          border: 1px solid #d3adf7;
          box-sizing: border-box;
          border-radius: 2px;
          max-height: 20px;
        }
      }
      &-description {
        margin-bottom: 62px;
        margin-top: 34px;
      }
      &-btn {
        display: flex;
        justify-content: flex-end;
        button {
          padding: 5px 16px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #1890ff;
          box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
          border-radius: 2px;
          border: 1px solid #1890ff;
          color: #fff;
          font-size: 14px;
        }
        img {
          margin-right: 5px;
        }
      }
    }
  }
}

.dialog-event {
  padding: 24px;
  &-header {
    display: flex;
    img {
      margin-right: 16px;
    }
  }
  &-description {
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
